In [36]:
import pandas as pd 
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt

df_employee_10k = pd.read_csv("/home/ana-luisa/Documentos/GitHub/employee_attrition_project/data/employee_attrition_dataset_10000.csv")
df_employee_1k = pd.read_csv("/home/ana-luisa/Documentos/GitHub/employee_attrition_project/data/employee_attrition_dataset.csv")

In [37]:
bool_cols = ['Attrition','Overtime']

df_employee_10k[bool_cols] = (
    df_employee_10k[bool_cols]
    .replace({'Yes': True, 'No': False})
    .astype(bool)
    )

df_employee_1k[bool_cols] = (
    df_employee_1k[bool_cols]
    .replace({'Yes': True, 'No': False})
    .astype(bool)
    )

In [38]:
pd.set_option('display.max_columns', None)

df_employee_10k

,Employee_ID,Age,Gender,Marital_Status,Department,Job_Role,Job_Level,Monthly_Income,Hourly_Rate,Years_at_Company,Years_in_Current_Role,Years_Since_Last_Promotion,Work_Life_Balance,Job_Satisfaction,Performance_Rating,Training_Hours_Last_Year,Overtime,Project_Count,Average_Hours_Worked_Per_Week,Absenteeism,Work_Environment_Satisfaction,Relationship_with_Manager,Job_Involvement,Distance_From_Home,Number_of_Companies_Worked,Attrition
0,1,58,Male,Single,Finance,Manager,5,7332,81,24,12,3,1,3,2,74,False,9,48,16,4,1,1,49,3,False
1,2,48,Female,Divorced,HR,Assistant,4,6069,55,18,7,5,1,2,2,24,True,9,57,10,4,1,1,25,1,False
2,3,34,Female,Married,Marketing,Manager,4,11485,65,6,4,3,4,5,1,63,True,3,55,1,1,4,3,21,1,True
3,4,27,Female,Divorced,HR,Manager,4,18707,28,12,9,1,1,1,2,4,False,9,53,2,3,4,1,46,2,False
4,5,40,Male,Married,HR,Analyst,1,16398,92,3,9,1,3,4,3,62,False,1,54,11,1,1,1,43,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,22,Female,Divorced,Marketing,Manager,5,4276,27,17,5,1,3,5,3,75,True,3,36,3,4,2,3,18,2,False
9996,9997,35,Female,Divorced,Marketing,Executive,3,10327,60,19,11,6,2,1,4,48,False,5,59,4,4,3,4,31,1,False
9997,9998,23,Male,Divorced,IT,Manager,3,12592,68,10,11,4,4,2,4,34,True,4,54,10,4,4,2,12,1,True
9998,9999,42,Female,Single,Marketing,Manager,3,9287,26,18,7,8,1,5,1,56,True,9,51,16,3,2,2,18,3,False
9999,10000,39,Female,Divorced,Finance,Executive,2,7225,54,16,14,1,4,5,3,54,True,4,51,6,4,1,1,6,2,True

Analise de genero, idade, estado civil e distancia de casa

In [45]:
gender_attrition = ['Gender', 'Attrition']
df_employee_10k[gender_attrition].value_counts(sort=False)

Gender  Attrition
Female  False        4050
        True          992
Male    False        3953
        True         1005
Name: count, dtype: int64

In [ ]:
age_attrition = ['Age', 'Attrition']
df_employee_10k[age_attrition].value_counts(sort=False)

Age  Attrition
20   False        196
     True          44
21   False        194
     True          62
22   False        192
                 ...
57   True          47
58   False        207
     True          49
59   False        178
     True          57
Name: count, Length: 80, dtype: int64

In [47]:
marital_attrition = ['Marital_Status', 'Attrition']
df_employee_10k[marital_attrition].value_counts(sort=False)

Marital_Status  Attrition
Divorced        False        2646
                True          684
Married         False        2726
                True          649
Single          False        2631
                True          664
Name: count, dtype: int64

In [48]:
distance_attrition = ['Distance_From_Home', 'Attrition']
df_employee_10k[distance_attrition].value_counts(sort=False)

Distance_From_Home  Attrition
1                   False        174
                    True          34
2                   False        188
                    True          31
3                   False        149
                                ...
47                  True          36
48                  False        170
                    True          51
49                  False        196
                    True          49
Name: count, Length: 98, dtype: int64