In [11]:
import sys
sys.path.append('..')
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
from utils.google_drive_utils import upload_df_to_drive

load_dotenv()
engine = create_engine(os.getenv("DB_URL"))

df = pd.read_sql("SELECT * FROM employee_attrition_dataset", engine)
df.head()

,Employee_ID,Age,Gender,Marital_Status,Department,Job_Role,Job_Level,Monthly_Income,Hourly_Rate,Years_at_Company,...,Overtime,Project_Count,Average_Hours_Worked_Per_Week,Absenteeism,Work_Environment_Satisfaction,Relationship_with_Manager,Job_Involvement,Distance_From_Home,Number_of_Companies_Worked,Attrition
0,1,58,Female,Married,IT,Manager,1,15488,28,15,...,No,6,54,17,4,4,4,20,3,No
1,2,48,Female,Married,Sales,Assistant,5,13079,28,6,...,Yes,2,45,1,4,1,2,25,2,No
2,3,34,Male,Married,Marketing,Assistant,1,13744,24,24,...,Yes,6,34,2,3,4,4,45,3,No
3,4,27,Female,Divorced,Marketing,Manager,1,6809,26,10,...,No,9,48,18,2,3,1,35,3,No
4,5,40,Male,Divorced,Marketing,Executive,1,10206,52,29,...,No,3,33,0,4,1,3,44,3,No

In [ ]:
df['attrition'].value_counts(normalize=True) * 100

In [ ]:
df.groupby('attrition')['age'].mean()

In [ ]:
df.groupby('department')['attrition'].mean().sort_values(ascending=False)

In [ ]:
df.groupby('attrition')['monthly_income'].mean()

In [ ]:
df.groupby('job_satisfaction')['attrition'].mean()
df.groupby('work_life_balance')['attrition'].mean()

In [ ]:
df.groupby('gender')['attrition'].mean()
df.groupby('marital_status')['attrition'].mean()
df.groupby('job_role')['attrition'].mean().sort_values(ascending=False)